
@* <h1 class="mt-5"></h1>


@if (ViewBag.Response is not null)
{
    <p>@ViewBag.Response</p>
} *@


@model IEnumerable<NZWalks.Web.Models.DTOs.RegionDto>


<h1 class="mt-5"></h1>

<div class="d-flex justify-content-end">
    <a class="btn btn-secondary" asp-controller="regions" asp-action="Create" >Add Region</a>
    <hr />
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>RegionImageUrl</th>
            <th>Actions</th>
        </tr>
        
    </thead>
   <tbody>
       @foreach (var region in Model)
        {
            <tr>
                <td>@region.Id</td>
                <td>@region.Name</td>
                <td>@region.Code</td>
                <td>@region.RegionImageUrl</td>
                <td><a class="btn btn-light" asp-controller="Regions" asp-action="Edit" asp-route-id="@region.Id" >Edit</a></td>
            </tr>
        }
   </tbody>
</table>