
@* <h1 class="mt-5"></h1>


@if (ViewBag.Response is not null)
{
    <p>@ViewBag.Response</p>
} *@


@model IEnumerable<NZWalks.Web.Models.DTOs.RegionDto>


<h1 class="mt-5"></h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th>RegionImageUrl</th>
        </tr>
        
    </thead>
   <tbody>
       @foreach (var region in Model)
        {
            <tr>
                <td>@region.Id</td>
                <td>@region.Name</td>
                <td>@region.Code</td>
                <td>@region.RegionImageUrl</td>
            </tr>
        }
   </tbody>
</table>